# Ignore everything
*
node_modules/
PANDUAN_FASILITATOR.md

# But not these files/folders
!.gitignore
!README.md
!SETUP_GUIDE.md
!labs/
!labs/**
!workshop_presentation.html

# Ignore node_modules inside labs
labs/**/node_modules/
labs/**/.next/
